<div class="signup-form text-select" *ngIf="!generated">
    <form>

        <h2>Generate QR Image</h2>
        <p class="hint-text">Name and Price are required</p>

        <app-alert></app-alert>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="product.name" name="name" placeholder="Product Name"
                required="required">
        </div>

        <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="product.price" name="price"
                placeholder="Product Price" required="required">
        </div>

        <div class="form-group" style="font-size: 17px;">
            <label>Product Category:</label>
            <select [(ngModel)]="product.category" name="category">
                <option disabled>Select Categories</option>
                <option *ngFor="let category of categories">{{category.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="product.desc" name="desc" placeholder="Description"
                required="required">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="product.code" name="code" placeholder="Product Code"
                required="required">
        </div>

        <div class="form-group text-center">
            <button type="submit" (click)="generateQRCode();" class="btn btn-success btn-lg btn-block">Generate</button>
        </div>
    </form>
</div>


<div class="signup-form text-select" *ngIf="generated">
    <form>

        <h2>Generated QR Info</h2>
        <p class="hint-text">You can search using Id or Name</p>

        <div class="form-group">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{qrDetail.name}}</td>
                        <td>{{qrDetail.price}}</td>
                        <td>{{qrDetail.id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>