form {
    width: 450px;
    height: auto;
    margin: 0 auto;
}

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.signup-form {
    min-height: 85vh;
    height: -webkit-fill-available;
    color: #fff;
    background: #63738a !important;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.signup-form h2 {
    color: #636363;
    position: relative;
    text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
    content: "";
    height: 2px;
    width: 12%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    padding-top: 5px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
    padding-right: 10px;
}

select {
    color: #727272;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select:focus {
    border-color: #5cb85c;
}

label {
    margin-right: 15px;
}

/* Table Styles Start */
.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}
.search-record {
    margin: 0;
    padding: 10px 0px !important;
}
.record-filter {
    display: inline;
}
.record-find {
    display: inline;
    float: right;
    padding-right: 0 !important;
}
.record-find>input {
    margin-left: 5px;
}
.record-find>button {
    margin-left: 5px;
    padding: 0px 5px;
}
.mdc-paginator, .mat-mdc-paginator, table, tr, th, td {
    border: 2px solid #6d6868;
}

th, td {
    padding: 0;
    text-align: center;
}
.product-detail {
    margin-left: auto;
    margin-right: auto;
}

.mat-elevation-z8 {
    background: #9198a3;
    padding-bottom: 5px;
}
.fa-pencil-square-o {
    cursor: pointer;
    padding: 5px;
    font-size: 25px;
    color: #8989c3;
}
.verified {
    margin-top: 10px;
}
.verified > i {
    font-size: 25px;
    color: green;
}
.verified > button {
    padding: 0px 5px;
    font-size: 15px;
}
.cancel-btn {
    color: red;
    font-size: 25px;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
}
/* Table Styles End */